<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dash_down0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,195}</string>
                <key>spriteSourceSize</key>
                <string>{155,195}</string>
                <key>textureRect</key>
                <string>{{1662,0},{155,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,227}</string>
                <key>spriteSourceSize</key>
                <string>{264,227}</string>
                <key>textureRect</key>
                <string>{{0,416},{264,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,257}</string>
                <key>spriteSourceSize</key>
                <string>{244,257}</string>
                <key>textureRect</key>
                <string>{{1188,416},{244,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,207}</string>
                <key>spriteSourceSize</key>
                <string>{233,207}</string>
                <key>textureRect</key>
                <string>{{777,195},{233,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,148}</string>
                <key>spriteSourceSize</key>
                <string>{228,148}</string>
                <key>textureRect</key>
                <string>{{0,0},{228,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,248}</string>
                <key>spriteSourceSize</key>
                <string>{245,248}</string>
                <key>textureRect</key>
                <string>{{697,416},{245,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,204}</string>
                <key>spriteSourceSize</key>
                <string>{286,204}</string>
                <key>textureRect</key>
                <string>{{491,195},{286,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,246}</string>
                <key>spriteSourceSize</key>
                <string>{184,246}</string>
                <key>textureRect</key>
                <string>{{513,416},{184,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,151}</string>
                <key>spriteSourceSize</key>
                <string>{210,151}</string>
                <key>textureRect</key>
                <string>{{228,0},{210,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,200}</string>
                <key>spriteSourceSize</key>
                <string>{231,200}</string>
                <key>textureRect</key>
                <string>{{260,195},{231,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,237}</string>
                <key>spriteSourceSize</key>
                <string>{249,237}</string>
                <key>textureRect</key>
                <string>{{264,416},{249,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,172}</string>
                <key>spriteSourceSize</key>
                <string>{213,172}</string>
                <key>textureRect</key>
                <string>{{438,0},{213,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,182}</string>
                <key>spriteSourceSize</key>
                <string>{149,182}</string>
                <key>textureRect</key>
                <string>{{1259,0},{149,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,213}</string>
                <key>spriteSourceSize</key>
                <string>{270,213}</string>
                <key>textureRect</key>
                <string>{{1388,195},{270,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_up3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,190}</string>
                <key>spriteSourceSize</key>
                <string>{254,190}</string>
                <key>textureRect</key>
                <string>{{1408,0},{254,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_dash_up4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,178}</string>
                <key>spriteSourceSize</key>
                <string>{269,178}</string>
                <key>textureRect</key>
                <string>{{651,0},{269,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,181}</string>
                <key>spriteSourceSize</key>
                <string>{339,181}</string>
                <key>textureRect</key>
                <string>{{920,0},{339,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_downleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,267}</string>
                <key>spriteSourceSize</key>
                <string>{240,267}</string>
                <key>textureRect</key>
                <string>{{1432,416},{240,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_downright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,197}</string>
                <key>spriteSourceSize</key>
                <string>{260,197}</string>
                <key>textureRect</key>
                <string>{{0,195},{260,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,296}</string>
                <key>spriteSourceSize</key>
                <string>{141,296}</string>
                <key>textureRect</key>
                <string>{{1861,416},{141,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,286}</string>
                <key>spriteSourceSize</key>
                <string>{189,286}</string>
                <key>textureRect</key>
                <string>{{1672,416},{189,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,208}</string>
                <key>spriteSourceSize</key>
                <string>{378,208}</string>
                <key>textureRect</key>
                <string>{{1010,195},{378,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_upleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,221}</string>
                <key>spriteSourceSize</key>
                <string>{274,221}</string>
                <key>textureRect</key>
                <string>{{1658,195},{274,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_upright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,255}</string>
                <key>spriteSourceSize</key>
                <string>{246,255}</string>
                <key>textureRect</key>
                <string>{{942,416},{246,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goatBoss.png</string>
            <key>size</key>
            <string>{2002,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea38bb2824d749b6a4dd84645dd2b0eb:17136c7b2d5c1fc3e131b331d044f28e:764c19a358e19096ce002dda1278164b$</string>
            <key>textureFileName</key>
            <string>goatBoss.png</string>
        </dict>
    </dict>
</plist>
