<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>insectStorageDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>insectStorageDown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>insectStorageDownleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>insectStorageDownleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>insectStorageDownright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>insectStorageDownright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>insectStorageLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>insectStorageLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>insectStorageRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>insectStorageRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>insectStorageUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>insectStorageUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>insectStorageUpleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>insectStorageUpleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>insectStorageUpright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>insectStorageUpright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>insectStorage.png</string>
            <key>size</key>
            <string>{898,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a89f24e80486939587e75c3ba172443:9299aa004d5bd579571ad61dbd962d56:7d324c1a37ef5dc716e56327db3f7c75$</string>
            <key>textureFileName</key>
            <string>insectStorage.png</string>
        </dict>
    </dict>
</plist>
