<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>witchCastDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,146},{112,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,141}}</string>
                <key>sourceSize</key>
                <string>{112,141}</string>
            </dict>
            <key>witchCastDown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{112,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>witchCastDown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,153}}</string>
                <key>sourceSize</key>
                <string>{119,153}</string>
            </dict>
            <key>witchCastDown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{119,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,151}}</string>
                <key>sourceSize</key>
                <string>{119,151}</string>
            </dict>
            <key>witchCastDown5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,283},{113,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,131}}</string>
                <key>sourceSize</key>
                <string>{113,131}</string>
            </dict>
            <key>witchCastDown6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,2},{111,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,138}}</string>
                <key>sourceSize</key>
                <string>{111,138}</string>
            </dict>
            <key>witchCastDownleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,294},{115,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,142}}</string>
                <key>sourceSize</key>
                <string>{115,142}</string>
            </dict>
            <key>witchCastDownleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,144},{109,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,140}}</string>
                <key>sourceSize</key>
                <string>{109,140}</string>
            </dict>
            <key>witchCastDownleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,151},{117,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,146}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>witchCastDownleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,155},{112,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,150}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>witchCastDownleft5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,289},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>witchCastDownleft6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>witchCastDownright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,147},{116,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,143}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>witchCastDownright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,2},{109,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,140}}</string>
                <key>sourceSize</key>
                <string>{109,140}</string>
            </dict>
            <key>witchCastDownright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{109,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,142}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>witchCastDownright4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,292},{117,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,140}}</string>
                <key>sourceSize</key>
                <string>{117,140}</string>
            </dict>
            <key>witchCastDownright5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,143},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>witchCastDownright6.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{112,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,143}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>witchCastLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,298},{111,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{111,140}</string>
            </dict>
            <key>witchCastLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,145},{104,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,141}}</string>
                <key>sourceSize</key>
                <string>{104,141}</string>
            </dict>
            <key>witchCastLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,144},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>witchCastLeft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{131,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>witchCastLeft5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,290},{119,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{119,140}</string>
            </dict>
            <key>witchCastLeft6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{105,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,142}}</string>
                <key>sourceSize</key>
                <string>{105,142}</string>
            </dict>
            <key>witchCastRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,147},{118,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>witchCastRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{117,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,143}}</string>
                <key>sourceSize</key>
                <string>{117,143}</string>
            </dict>
            <key>witchCastRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,148},{107,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,144}}</string>
                <key>sourceSize</key>
                <string>{107,144}</string>
            </dict>
            <key>witchCastRight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,151},{116,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,145}}</string>
                <key>sourceSize</key>
                <string>{116,145}</string>
            </dict>
            <key>witchCastRight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>witchCastRight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,146},{108,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,142}}</string>
                <key>sourceSize</key>
                <string>{108,142}</string>
            </dict>
            <key>witchCastUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,266},{107,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,130}}</string>
                <key>sourceSize</key>
                <string>{107,130}</string>
            </dict>
            <key>witchCastUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,285},{113,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,134}}</string>
                <key>sourceSize</key>
                <string>{113,134}</string>
            </dict>
            <key>witchCastUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,136},{109,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,128}}</string>
                <key>sourceSize</key>
                <string>{109,128}</string>
            </dict>
            <key>witchCastUp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,286},{113,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,137}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>witchCastUp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{107,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,151}}</string>
                <key>sourceSize</key>
                <string>{107,151}</string>
            </dict>
            <key>witchCastUp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>witchCastUpleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,2},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>witchCastUpleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,142},{108,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,135}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>witchCastUpleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,285},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>witchCastUpleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,279},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>witchCastUpleft5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>witchCastUpleft6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,299},{110,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{110,136}</string>
            </dict>
            <key>witchCastUpright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,288},{114,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,136}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>witchCastUpright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,144},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>witchCastUpright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,307},{102,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,139}}</string>
                <key>sourceSize</key>
                <string>{102,139}</string>
            </dict>
            <key>witchCastUpright4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{105,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{105,141}</string>
            </dict>
            <key>witchCastUpright5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>witchCastUpright6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,142},{105,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{105,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>witchCast.png</string>
            <key>size</key>
            <string>{2026,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:916e607525a94b3f0cc7a21710a00b77:e03af6066d12ac68d4b24629ab10a92e:026154b78883346a922e19df4aa10618$</string>
            <key>textureFileName</key>
            <string>witchCast.png</string>
        </dict>
    </dict>
</plist>
