<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>witchDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{109,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,135}}</string>
                <key>sourceSize</key>
                <string>{109,135}</string>
            </dict>
            <key>witchDownleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,137}}</string>
                <key>sourceSize</key>
                <string>{113,137}</string>
            </dict>
            <key>witchDownright.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{100,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,141}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>witchLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{101,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,138}}</string>
                <key>sourceSize</key>
                <string>{101,138}</string>
            </dict>
            <key>witchRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>witchUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,105},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>witchUpleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,139},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>witchUpright.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,105},{102,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,132}}</string>
                <key>sourceSize</key>
                <string>{102,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>witch.png</string>
            <key>size</key>
            <string>{511,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bf031c0058dbab53b6a2c11e6fcc19:9959abab0579815cbff78e101ac52a02:03765a8e2dc9683a535682a2fc3efbf6$</string>
            <key>textureFileName</key>
            <string>witch.png</string>
        </dict>
    </dict>
</plist>
